* {
    /* border: 1px solid black; */
    font-family: 'Segoe UI';
    color: #535353;
}

body {
    border: 2px solid #d3d3d3;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(30px, auto);
}

.title {
    grid-column: 3 / -3;
    justify-self: center;
    align-self: center;
}

.title h1 {
    font-size: 45px;
    margin-top: 10px;
    text-align: center;
}

.player-area {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
}

.player-area img {
    height: 120px;
    cursor: pointer;
    margin: 0px 10px;
}

.player-area .border {
    border-bottom: 2px #dadada solid;
}

.player-area h2 {
    text-align: center;
    margin-top: 0px;
}

.player-area ul {
    text-align: center;
    padding: 0px;
}

.player-area ul li {
    float: left;
    list-style: none;
}

.player-area ul li img {
    padding-bottom: 3px;
    border-bottom: 2px white solid;
}

.info {
    grid-column: 5 / -5;
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px;
}

.w {
    color: #fafafa;
    background-color: #60C37A;
}

.l {
    color: #fafafa;
    background-color: #e97070;
}

.d {
    color: #7c7c7c;
    background-color: #dad8d8;
}

.computer-area {
    grid-column: 5 / -5;
    justify-self: center;
    align-self: center;
}

.computer-area img {
    height: 110px;
    opacity: 0.9;
}

.sPlayer {
    grid-column: 4;
    grid-row: 5; 
}

.sCom {
    grid-column: 9;
    grid-row: 5;
}

p.score {
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    display: inline;
    padding: 0px 2px;
}

.footer {
    grid-column: 3 / -3;
    align-self: center;
    justify-self: center;
}

@keyframes bounce {
from,
20%,
53%,
80%,
to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
}
43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
}
70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
}
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

.animated {
    animation-duration: 1.1s;
    animation-fill-mode: both;
}

@media (max-width: 768px) {

    .title {
        grid-column: 1 / -1;
    }
    .sCom{
        grid-column: 9 / 11;
        font-size: 15px;
    }
    
    .sPlayer {
        grid-column: 4 / 6;
        font-size: 15px;
    }

    .info {
        grid-column: 4 / -4;
    }


}

@media (max-width: 650px){

    .title {
        grid-column: 1 / -1;
    }

    .title h1 {
        font-size: 40px;
    }

    .player-area img {
        height: 90px;
    }

    .computer-area{
        text-align: center;
    }

    .info {
        grid-column: 4 / -4;
    }

    .computer-area img {
        height: 90px;
    }

    .player-area {
        grid-column: 1 / -1;
    }

    .footer {
        grid-column: 1 / -1;
    }

    .sCom{
        grid-column: 9 / 11;
        font-size: 12px;
    }
    
    .sPlayer {
        grid-column: 4 / 6;
        font-size: 12px;
    }

}

@media (max-width: 375px){

    .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: minmax(30px, auto);
    }

    .player-area {
        grid-column: 1 / -1;
    }

    .info {
        grid-column: 2 / -2;
        margin: 12px 0px;
    }

    .computer-area {
        grid-column: 1 / -1;
        text-align: center;
    }

    .player-area img {
        height: 60px;
    }

    .computer-area img {
        height: 60px;
    }

    .title {
        grid-column: 1 / -1;
    }

    .title h1 {
        font-size: 35px;
    }

    .sCom{
        grid-column: -3;
        font-size: 10px;
    }
    
    .sPlayer {
        grid-column: 2;
        font-size: 10px;
    }

    .footer {
        grid-column: 1 / -1;
        font-size: 12px;
    }

    .computer-area h2 {
        margin-top: 0px;
    }

}